extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="mazda-logo.png", alt="10px")
  main(class="main__content")
        div(class="thumbail")
      img(class="logo" src="http://concesionariomazda.com.co/wp-content/uploads/2018/06/mazda-logo.png")
      img(class="zoom" src="http://concesionariomazda.com.co/wp-content/uploads/2018/06/zoom-zoom.png" />
         
